bitarray
dacite
Click
ipython
jupyterlab
torch
matplotlib
mock
moz-sql-parser==2.44.19084
pandas==1.1.5
ply==3.11
psqlparse==0.2.5
psycopg2-binary
psycopg2
pytest
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
scikit-learn
scipy
seaborn
sklearn
sqlparse==0.3.0
termcolor==1.1.0
tqdm==4.31.1
gym
numpy
pytorch-lightning